.modal {
    z-index: 100;
    position: fixed;
    top: 22vh;
    left: 10%;
    width: 80%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    max-height: 35rem;
    overflow-y: auto;
    scrollbar-width: thin;
}

.modal__header {
    text-align: center;
    padding: 1rem 0.5rem;
    background: #2a006e;
    color: white;
}
.modal__header__danger {
    padding: 1rem 0.5rem;
    background: darkred;
    color: white;
}

.modal__header__info {
    padding: 1rem 0.5rem;
    background: darkblue;
    color: white;
}

.modal__header__warning {
    padding: 1rem 0.5rem;
    background: darkgoldenrod;
    color: white;
}

.modal__header h2 {
    margin: 0.5rem;
}

.modal__content {
    text-align: center;
    padding: 1rem 0.5rem;
    height: max-content;
    overflow-y: scroll;
}

.modal__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 0.5rem;
    justify-items: center;
}

@media (min-width: 768px) {
    .modal {
        left: calc(50% - 20rem);
        width: 40rem;
    }
}

.modal-enter {
    transform: translateY(-10rem);
    opacity: 0;
}

.modal-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 200ms;
}

.modal-exit {
    transform: translateY(0);
    opacity: 1;
}

.modal-exit-active {
    transform: translateY(-10rem);
    opacity: 0;
    transition: all 200ms;
}

.modal--content__center{
    display: flex;
    justify-content: center;
    align-items: center;
}