.user--recipes__container{
    padding: 2rem;
}

.user--recipes__body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.user--recipes__item{
    position: relative;
    /*flex: 0 50%;*/
    padding: 1rem;
    flex: 1;
    display: flex;
    justify-content: center;
}

.user--recipes__actions{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: -1000vh;
    background-color: rgba(0,0,0, 0.8);
}

.recipe--preview__body:hover .user--recipes__actions{
    transition: all 0.5s step-end;
    background-color: rgba(0,0,0, 0.5);
    top: 0;
    z-index: 2;
}

.user--recipes__actions [class^='action'] svg{
    height: 3rem;
    width: 3rem;
}

.user--recipes__actions .action--edit svg{
    fill: darkorange;
}
.user--recipes__actions .action--edit svg:hover{
    fill: orange;
}

.user--recipes__actions [class^='action']:hover{
    cursor: pointer;
}
[class^='action']:hover .user--recipes__actions{
    background-color: red;
}

.user--recipes__actions .action--delete svg{
    fill: darkred;
}
.user--recipes__actions .action--delete svg:hover{
    fill: red;
}

@media (max-width: 699px) {
    .user--recipes__body{
        flex-direction: column;
    }
    .user--recipes__item{
        flex: 1;
    }
}