.button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #ff0055;
    border-radius: 4px;
    background: #ff0055;
    color: white;
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;
}

.button:focus {
    outline: none;
}

.button:hover,
.button:active {
    background: #ff4382;
    border-color: #ff4382;
}

.button--inverse {
    background: transparent;
    color: #ff0055;
}

.button--inverse:hover,
.button--inverse:active {
    color: white;
    background: #ff0055;
}

.button--danger {
    background: #830000;
    border-color: #830000;
}

.button--danger:hover,
.button--danger:active {
    background: #f34343;
    border-color: #f34343;
}

.button--primary{
    background: #162897;
    border-color: #0b1545;
}

.button--primary:hover,
.button--primary:active{
    background: #1c32bf;
    border-color: #101f66;
}

.button--danger:hover,
.button--danger:active {
    background: #f34343;
    border-color: #f34343;
}
.button:disabled,
.button:hover:disabled,
.button:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
}

.button--small {
    font-size: 0.8rem;
}

.button--big {
    font-size: 1.5rem;
}

.actions--button{
    border-radius: 5px;
    padding: 8px;
    margin: 10px;
}

.actions--button__info{
    background-color: dodgerblue;
}
.actions--button__info:hover{
    background-color: cornflowerblue;
}

.actions--button__info__inverse{
    background-color: transparent;
    color: dodgerblue;
    border: 1px solid dodgerblue;
}

.actions--button__info__inverse:hover{
    background-color: cornflowerblue;
    color: white;
    border: 1px solid cornflowerblue;
}

.button--warning,
.actions--button__warning{
    border: 1px solid orange;
    background-color: orange;
}

.button--warning:hover,
.actions--button__warning:hover{
    border: 1px solid #ffc65e;
    background-color: #ffc65e;
}
.actions--button__warning__inverse{
    color: orange;
    border: 1px solid orange;
    background-color: transparent;
}
.actions--button__warning__inverse:hover{
    color: white;
    background-color: orange;
}
.actions--button__danger{
    background-color: darkred;
}
.actions--button__danger:hover{
    background-color: #c60000;
}
.actions--button__danger__inverse{
    color: darkred;
    background-color: transparent;
    border: 1px solid darkred;
}
.actions--button__danger__inverse:hover{
    background-color: darkred;
    color: white;
}

.button--success,
.actions--button__success{
   background-color: green;
    border: 1px solid green;
    color: white;
}
.button--success:hover,
.actions--button__success:hover{
    border: 1px solid #0cb018;
    background-color: #0cb018;
}
.actions--button__success__inverse{
    color: green;
    background-color: transparent;
    border: 1px solid green;
}
.actions--button__success__inverse:hover{
    background-color: green;
    color: white;
    border: 1px solid green;
}

.button--dark,
.actions--button__dark{
    color: white;
    background-color: black;
    border: 1px solid black;
}

.button--dark:hover,
.actions--button__dark:hover{
    background-color: #494949;
    border: 1px solid #494949;
}

.actions--button__dark__inverse{
    color: black;
    background-color: transparent;
    border: 1px solid black;
}
.actions--button__dark__inverse:hover{
    background-color: black;
    color: white;
}