@import url('https://fonts.googleapis.com/css?family=Gothic+A1|Kaushan+Script|Libre+Baskerville|Lobster');
.toolbar{
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.toolbar nav{
    height: 100%;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}

.logo span{
    color: #fed136;
    font-size:25px;font-weight:700;letter-spacing:0.1em;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
}

.logo a{
    color: white;
    text-decoration: none;
}
.logo a:hover,
.logo a:active{
    color: #fed136;
    text-decoration: none;
}
.logo {
    color: #fff;
    font-size:25px;
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
    font-weight:700;
    letter-spacing:0.1em;
}
.logo span:hover,
.logo span:active{
    color: white;
}

.shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.banner--container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image:url('../../../../../assets/images/header-banner.jpg');
    text-align: center;
    color: #fff;
    height: 200px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner{
   margin-bottom: 1rem;
}

.banner--text{
    padding:25px 0 0 0;
}
.banner--heading{
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 25px;
    color: #f5d020;
    background: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner--sub__heading{
    font-family: 'Libre Baskerville', serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    /*margin-bottom: 50px;*/
    color:#ff0000;
    background: linear-gradient(315deg, #ff0000 0%, #ffed00 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* mobile view */
@media (max-width:500px){
    .desktop-only{
        display: none;
    }

    .toolbar{
        padding-top: 0;
        padding-bottom: 0;
        background-color: #2a2a72;
        background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    }

    .banner{
        display: none;
    }
    .navbar-nav{
        background-color:#000;
        border-top:3px solid #fed136;
        color:#fff;
        z-index:1;
        margin-top:5px;
    }
    .navbar-nav .nav-item .nav-link{
        padding: 0.7em 1em!important;
        font-size: 100%;
        font-weight: 500;
    }

    .banner--heading{
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .banner--sub__heading{
        font-size: 10px;
        font-weight: 200;
        line-height: 10px;
        margin-bottom: 40px;
    }
}

@media (max-width:768px){
    .banner--text{
        padding:50px 0 150px 0;
    }
    .banner--sub__heading{
        font-size: 23px;
        font-weight: 200;
        line-height: 23px;
        margin-bottom: 40px;
    }
}
