.navigation-item {
    color: white;
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.navigation-item a {
    text-decoration: none;
    width: max-content;
    box-sizing: border-box;
    display: block;
}

.navigation-item a:hover{
    color: #fed136;
    text-decoration: none;
}

.navigation-item__active{
    color: #fed136;

}
@media (min-width: 500px) {
    .navigation-item {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }

    .navigation-item a {
        height: 100%;
        padding: 16px 10px;
    }
}

