.recipe--page__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.recipe--page__inner--container{
    width: 90%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
}
.recipe--page__info{
    flex: 0 50%;
}
.recipe--page__details{
    display: flex;
    flex-direction: column;
    flex: 0 50%;
}
.recipe--page__info img{
    object-fit: scale-down;
}

.recipe--page__info--steps--item,
.recipe--page__info--ingredients--item{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.rate--recipe__button{
    position: absolute;
    top: 0;
    left: 0;
}
.rate--recipe__rate--container{
    position: relative;
}

