
.rating--stars__container svg{
    height: 50px;
    width: 50px;
}

.rating--stars__container {
    font-size: 4rem;
    color: #a9a9a9;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    width: min-content;
}

.rating--stars__container:hover {
    cursor: pointer;
}

.rating--star__orange {
    color: #ffd700;
}

.rating--star__grey {
    color: darkgrey;
}

.half {
    display: inline-flex;
    position: relative;
}

.half > div:first-child {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    /*width: 27px;*/
    z-index: 1;
    color: #ffd700;
}

.half > div:last-child {
    position: relative;
    /*margin-left:-27px;*/
}
