.navigation-items{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    flex-flow: column;
}

.user-wrapper svg{
    width: auto ;
    height: auto;
    fill: white;
}

a:hover .user-wrapper svg{
    fill: #fed136;
}

@media (min-width: 500px) {
    .navigation-items{
        flex-flow: row;
    }
}