.category--info__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.category--info__card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.category--info__img{
    border: 1px solid greenyellow;
}

.category--info__text{
    font-weight: normal;
    font-size: 1rem;
    padding: 10px;
    margin-right: 5px;
}