.ingredients--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

    max-height: 700px;
    padding-bottom: 2rem;
}

.ingredient--items__container{
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    width: 90%;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-bottom: 1px solid darkgrey;

    /*scrollbar-color: transparent transparent;*/
}

.ingredient--items__inner--container{
    display: block;
    width: 100%;
    overflow-y: auto;
    height:  500px;
    scrollbar-width: thin;
}

.ingredient--item__disabled{
    background-color: darkgrey;
}


.ingredient--form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: white;
    height: 10rem;
}

.ingredient--form{
    background-color: white;
    flex: 0 85%;
    height: inherit;
}
.ingredient--item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    height: max-content;
    margin: 5px;
}

.ingredient--item__modal{
    flex-direction: column;
}

.ingredient--item .form--group:first-child{
    flex: 2;
}

.ingredient--item .form--group{
    padding-right: 1rem;
}

.ingredient--item button{
    margin-left: 5px;
}

.ingredient--item input.form--input {
    border-bottom: 1px solid #e5e5e5;
}

.ingredient--item span {
    flex: 1;
    margin-right: 1rem;
}

.ingredient--item .form--group button {
    margin: 6px;
}
.ingredient--item__actions{
    fill: white;
}

.form--submit{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin: 1rem 0;
}

@media (max-width: 699px) {
    .ingredient--item{
        height: max-content;
        flex-direction: column;
    }

    .ingredient--item .form--group{
        width: 100%;
    }
    .ingredient--form__container{
        height: max-content;
    }
}
