.recipe--form__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 1rem ;
}

.recipe--form{
    width: 90%;
}

.recipe--form__container .cbx__title{
    padding-bottom: 1rem;
}
