.dropzone{
    height: 150px;
    width: 150px;
    background-color: white;
    border: 2px dashed rgb(187,186,186);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    margin: 20px;
}

.upload-icon{
    opacity: 0.3;
    height: 64px;
    width: 64px;
}

input.file-input{
    display: none;
}

.highlight{
    background-color: rgb(188,185,236);
}

.dropzone--text{
    text-align: center;
}