.cbx-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.cbx {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}
.cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.cbx span svg{
    width: 12px;
    height: 9px;
}
.cbx span:first-child {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #B9B8C3;
    transition: all 0.2s ease;
}
.cbx span:first-child svg {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 6px;
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506EEC;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
    transition-delay: 0.2s;
}
.cbx span:last-child {
    margin-left: 8px;
}
.cbx span:last-child:after {
    /*content: "";*/
    /*position: absolute;*/
    /*top: 8px;*/
    /*left: 0;*/
    /*height: 1px;*/
    /*width: 100%;*/
    /*background: #B9B8C3;*/
    /*transform-origin: 0 0;*/
    /*transform: scaleX(0);*/
}
.cbx:hover span:first-child {
    border-color: #3c53c7;
}

.inp-cbx:checked + .cbx span:first-child {
    border-color: #3c53c7;
    background: #3c53c7;
    animation: check 0.6s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(2.2);
    opacity: 0;
    transition: all 0.6s ease;
}
.inp-cbx:checked + .cbx span:last-child {
    color: #B9B8C3;
    transition: all 0.3s ease;
}
.inp-cbx:checked + .cbx span:last-child:after {
    transform: scaleX(1);
    transition: all 0.3s ease;
}

@keyframes check {
    50% {
        transform: scale(1.2);
    }
}
.checkmark__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
}

.checkmark__container .cbx__title{
    text-align: center;
    font-size: small;
}

