
.custom--form {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 40px auto 40px;
    background: #fff;
    padding: 40px;
    border-radius: 4px;
    flex: 1;
    text-align: left;
}

.custom--form .btn--primary {
    background-color: #73378d;
    border-color: #8e44ad;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: white;
}

.custom--form .btn--primary:hover {
    cursor: pointer;
    background-color: #8e44ad;
}

.custom--form .form--submit {
    display: flex;
    justify-content: center;
}

textarea.form--input {
    resize: vertical;
}


.form--container {
    display: flex;
    justify-content: center;
    flex: 1;
    min-width: 300px;
    padding: 50px 30px 50px 30px;
    /*margin: 50px auto;*/
    /*background-color: #ffffff;*/
    border-radius: 5px;
    /*box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);*/
}

.form--group {
    position: relative;
    margin: 3rem auto;
}

.form--group + .form-group {
    margin-top: 30px;
}

.form--label {
    position: absolute;
    left: 0;
    top: 7px;
    color: #999;
    /*background-color: #fff;*/
    z-index: 10;
    padding: 5px;
    user-select: none;
    transition: all 150ms ease-out;
}

.form--input:focus .form--label {
    transform: scale(1.2);
}

.focused .form--label {
    transform: translateY(-105%);
    font-size: .75em;
    color: #8e44ad;
}

.error .form--label {
    color: red;
}

.form--input:disabled {
    color: black;
    text-align: center;
}

#dropdown:disabled {
    color: black;
    text-align: center
}

.form--input {
    position: relative;
    padding: 12px 0 5px 0;
    width: 100%;
    outline: 0;
    border: 0;
    box-shadow: 0 1px 0 0 #e5e5e5;
    transition: box-shadow 150ms ease-out;
}

.form--input:focus {
    box-shadow: 0 2px 0 0 blue;
}

.form--input.filled {
    box-shadow: 0 2px 0 0 forestgreen;
}

.form--input.filled:focus {
    box-shadow: 0 2px 0 0 lightgreen;
}

.form--input.error {
    box-shadow: 0 2px 0 0 darkred;
}

.form--input.error:focus {
    box-shadow: 0 2px 0 0 red;
}
