.collapsible--section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 10px;
    background-color: #c6c6c6;
}

.collapsible--section__header{
    font-size: 1.2rem;
    font-weight: bold;
}
.collapsible--section__header> span{
    background: #2A88AD;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
}
.collapsible--section:hover {
    background-color: #c8c8c8;
}

.collapsible--section__header:after {
    content: '\002B';
    color: blue;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: 25px;
}

.collapsible--section__header.active:after {
    content: "\2212";
    color: blue;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: 25px;
}

.collapsible--section .collapsible--section__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    width: inherit;

}

p.section__name{
    padding-left: 1rem;
}

.collapsible--content__inner--wrap{
    padding: 12px;
    background: #F8F8F8;
    border-radius: 6px;
}

.collapsible--content {
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #c6c6c6;
    width: 100%;
    border: 5px solid #c6c6c6;
    box-sizing: border-box;
}

.collapsible--content__inner--wrap .input__group input{
    text-align: left;
}