.user--board__pagination--items{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    align-items: center;
}

@media (max-width: 699px) {
    .user--board__pagination--items{
        flex-direction: column;
    }
}