.ingredient--preview__container {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    border-radius: 5px;
    width: 100%;
}

.ingredient--inner__container {
    background-color: white;
    display: flex;
    flex: 0 90%;
    justify-content: center;
    height: 7rem;
}

.ingredient--preview__item {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid darkgrey;
}

.ingredient--name {
    display: flex;
    justify-content: flex-start;
    flex: 0 50%;
    margin-left: 1rem;
}

.has--error{
    background-color: rgba(255,0,0,0.5);
}

.duplicate--entry {
    animation: animate-bg 1s ease-in-out;
}

@keyframes animate-bg {
    0% {
        background-color: #ff0000;
    }
    100% {
        background-color: white;
    }
}