.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pagination-items{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.no--content{
    background-color: #46637f;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    height: max-content;
    width: 80%;
    margin: 10px auto;
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;
}

.header__actions{

}

@media (min-width: 481px) and (max-width: 999px) {
    .actions {
        flex-direction: column;
        height: max-content;
    }

    .actions i:last-child {
        margin-bottom: 0;
    }
    .actions i, .actions a{
        margin-bottom: 10px;
    }
}

@media (max-width: 599px) {
    .pagination-items{
        flex-direction: column;
    }
}
