.steps--container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-height: 700px;
}
.steps--inner--container{
    display: block;
    width: 90%;
    background-color: white;
    padding-bottom: 1rem;
    overflow-y: auto;
    scrollbar-width: thin;
}
.steps--preview{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
}

.steps--preview__inner--container{
    width: 100%;
}