.preview--container{
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    position: relative;
    height: 400px;
    overflow: hidden;
}

.preview--container:hover{
    cursor: pointer;
}

.preview--body{
    transition: transform 0.5s ;
    background-size: cover;
    width: 100%;
    height: inherit;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}
.preview--container:hover .preview--body{
    cursor: pointer;
    height: 100%;
    transform: scale(1.1);
}
.preview--footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(255,255,255,.5);
    font-size: 3rem;
    letter-spacing: 10px;
    bottom: 0;
    padding: 15px;
    width: 100%;
    height: 5rem;
    color: #fed136;
    border-radius: 10px 10px 0 0;
    position: absolute;
}
.preview--footer__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.preview--footer__info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.preview--container:hover .preview--footer__info{
    position: absolute;
    right: 5%;
    top: 0;
    color: greenyellow;
    transition: all 2s;
}

@media (max-width: 499px) {
    .preview--footer{
       font-size: 1rem;
    }
}