.progress-container svg {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1001;
}

.progress-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
body {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*min-height: 100vh;*/
    /*background: #101010;*/
}

.progress-box{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*box-shadow: 0 30px 60px rgba(0,0,0,0.2);*/
    user-select: none;
    z-index: 101;
}

.progress-box .progress-percent{
    position: relative;
    width: 150px;
    height: 150px;
}

.progress-box .progress-percent svg{
    position: relative;
    width: 150px;
    height: 150px;
}

.progress-box .progress-percent svg circle{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: #000;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}

.progress-box .progress-percent .progress-number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.progress-box .progress-percent .progress-number h2{
    font-size: 44px;
}
.progress-box .progress-percent .progress-number h2 span{
    font-size: 22px;
}

.progress-box .text{
    padding: 10px 0 0;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}

.progress-box .progress-percent svg circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #f3f3f3;
}
.progress-box .progress-percent svg circle:nth-child(2){
    stroke: #03a9f4;
    transition: 0.25s;
}