@import url(https://fonts.googleapis.com/css?family=Roboto);

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    margin-top: 40px;
}

.collapsible-checkbox label{
    display: block;
    cursor: pointer;
    border: 1px solid #fff;
    margin-bottom: 0;
}

.collapsible-checkbox label:hover{
    background: #cecece;
}

.collapsible-checkbox label.last{
    border-bottom: 1px solid #fff;
}

ul ul li{
    padding: 10px;
    background: lightgrey;
    cursor: pointer;
}

.action-list li:hover{
    color: white;
}


.collapsible-checkbox{
    position: absolute;
    left: -9999px;
}

.collapsible-checkbox ~ ul{
    height: 0;
    transform: scaleY(0);
}

.collapsible-checkbox:checked ~ ul{
    height: 100%;
    transform-origin: top;
    transition: transform .2s ease-out;
    transform: scaleY(1);
    border: 1px solid white;
    border-top: none;
}

.collapsible-checkbox:checked + label{
    /*background: #797979;*/
    /*border-bottom: 1px solid #fff;*/
    margin-bottom: 0;
    border-bottom: none;
    color: white;
}

.svg-icon {
    width: 2em;
    height: 2em;
    margin-right: 20px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #4691f6;
}
.action-list li:hover > a{
    color: #ffffff;
}

.action-list li:hover > .svg-icon.trashcan path{
    fill: red;
}

.action-list li:hover > .svg-icon path{
    fill: blue;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}

a:hover{
    text-decoration: none;
}

li{
    color: #4691f6;
}