.admin-panel__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

.admin-panel__card{
    background-color: rgba(0,0,0, 0.5);
    width: 75%;
    border-radius: 10px;
}

.admin-panel__card__title{
    font-size: 2rem;
}

.admin-panel__card__header{
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid white;
}
.admin-panel__card__body{
    padding: 3rem;
}

.admin-panel__card__text a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}
.admin-panel__card__text a:hover{
    color: yellowgreen;
    text-decoration: none;
}

.admin-panel__card__footer{
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    border-top: 1px solid rgba(255,255,255,0.5);
}

.admin-panel__card__footer span{
    font-weight: normal;
    font-style: italic;
    font-size: 1rem;
}