/*Floating Back-To-Top Button*/
.scrollButton {

    position: fixed;
    right: 5%;
    top: 22.5%;
    max-width: 50px;
    max-height: 50px;
    height: 50px;
    width: 100%;
    font-size: 12px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: rgba(100, 100, 100, 0.5);
    padding: .5px;
    border-radius: 4px;
}

/*On Hover Color Change*/
.scrollButton:hover {
    background-color: #7dbbf1;
}

@media (max-width: 499px) {
    .scrollButton{
        display: none;
    }
}