
.auth-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.auth-card {
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding-bottom: 5rem;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 0.6;
}

.auth-card__body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-card__footer {
    margin: 2rem;
}

.auth-card__footer a {
    text-decoration: none;
    color: #FFC312;
}

.auth-card__footer a:hover,
.auth-card__footer a:active,
.auth-card__footer a:focus {
    color: yellow;
    text-decoration: none;
}

.auth__error {
    padding-bottom: 2rem;
    color: red;
}

.auth__info{
    padding: 5px 5px 2rem;
    color: #FFC312;;
}

.container {
    height: 100%;
    align-content: center;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.auth-card__header h3 {
    color: white;
    font-size: 1.8rem;
    padding: 5px;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: none;
    box-shadow: none;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.auth_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.auth_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
    margin-top: 1rem;
}

.links a {
    margin-left: 4px;
}

.label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    font-weight: 300;
    user-select: none;
    cursor: pointer;
}

.auth-form{
    flex: 0.9;
}

.auth-form .form--group.focused .form--label{
    color: #FFC312;
}

.auth-form .form--group.error .form--label{
    color: red;
}

.auth-form .form--group.focused .form--input{
    color: white;
    text-align: center;
}

.auth-form .form--input{
    background: transparent;
}
.auth-form .form--input:focus{
    box-shadow: 0 2px 0 0 #FFC312;
}

@media (max-width: 699px) {
    .auth-card{
        flex: 1;
    }
}