/* Tooltip container */
.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Tooltip text */
.tooltip-container .tool-tip-text {
    visibility: hidden;
    width: auto;
    min-width: 120px;
    background-color: rgba(85, 85, 85, 0.6);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-weight: normal;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 85%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip-container .tool-tip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-container:hover .tool-tip-text {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}