.rate--container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.rate--button__container {
    width: max-content;
    min-width: 120px;
    background-color: rgba(255,255,255, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-weight: normal;
    height: 100%;
    top: calc(-100% - 5px);
    padding: 5px 0 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 85%;
    left: 50%;
    margin-left: -60px;
}

/* Tooltip arrow */
.rate--container .rate--button__container::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


.rate--button__close{
    position: absolute;
    top: -12px;
    right: -12px;
    width: 24px;
    height: 24px;
}
.rate--button__close svg{
    fill: darkred;
}
.rate--button__close svg:hover{
    fill: red;
}
