.rating--bar{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 5px;
}

.rating--bar svg{
    padding: 2px;
    transition: all 0.6s;
}

.rating--bar svg:hover{
    fill: yellow;
    stroke: yellow;
    transform: scale(1.5);
}

/*.rating--bar svg:hover ~ svg{*/
/*    fill: yellow;*/
/*    stroke: yellow;*/
/*    transform: scale(0.8);*/
/*}*/

.rating--item__not--selected{
    fill: transparent;
    stroke-width: 3px;
    stroke: yellowgreen;
}
.rating--item__selected{
    fill: gold;
    stroke: gold;
    stroke-width: 3px;
}

.rating--item__selected--after--hovered{
    transform: scale(0.7);
    fill: goldenrod;
    stroke: goldenrod;
}

.rating--item__selected--before--hovered{
    transform: scale(0.8);
    fill: yellow;
    stroke: yellow;
}
