.input__error{
    border-bottom: 2px solid darkred;
}

.input__active:focus{
    /*border-bottom: 2px solid dodgerblue;*/
    /*transition: border-bottom-color 1s ease-in;*/
}

.input__group {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
}

.input__group label{
    padding-bottom: 2px;
    margin-bottom: 0;
}
.input__group span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*flex: 1;*/
}
.input__group__padding{
    padding: 0 1.8rem;
}
.input__group input,.input__group textarea {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
    box-sizing: border-box;
    border-radius: 0 10px 10px 0;
    flex: 1;
}
.input__group textarea:focus,
.input__group select:focus,
.input__group input:focus {
    border: 2px solid #FFC312;
}

.icon {
    border: 2px solid #FFC312;
    padding: 10px;
    background: #FFC312;
    color: white;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 10px 0 0 10px;
}

.label-input__invalid {
    margin: 0 auto;
    font-size: 0.8rem;
    color: #FFC312;
    width: 75%;
    padding-bottom: 10px;
}

.invalid__input {
    box-sizing: border-box;
    border-top-color: darkred;
    border-right-color: darkred;
    border-bottom-color: darkred;
    border-left-color: #FFC312;
}