.upload-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    user-select: none;
    height: 250px;
    margin: 16px 0;
    color: black;
}

.upload-card {
    background-color: white;
    position: relative;
    padding: 16px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /*box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);*/
    box-sizing: border-box;
}

.upload{
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    text-align: left;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.upload-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 16px;
    box-sizing: border-box;
    flex: 1;
}

.files{
    margin-left: 32px;
    align-items: flex-start;
    justify-items: flex-start;
    flex: 1;
    overflow-y: auto;
}

.file-actions{
    display: flex;
    flex: 1;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.title{
    margin-bottom: 32px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
}

.upload-row{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
    padding: 8px;
    overflow: hidden;
    box-sizing: border-box;
}

.filename{
    margin-bottom: 8px;
    font-size: 14px;
    color: #555555;
    text-align: center;
    background-color: rgba(255,255,255, 0.5);
}

.check-icon{
    opacity: 0.5;
    margin-left: 32px;
}

.upload-progress-wrapper{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

.upload-button{
    font-family: 'Roboto medium',sans-serif;
    font-size: 14px;
    display: inline-block;
    height: 36px;
    min-width: 88px;
    padding: 6px 16px;
    line-height: 1.42;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 0;
    border-radius: 2px;
    background: rgba(103,58,183,1);
    color: white;
    outline: 0;
}

.upload-button:disabled{
    background: rgb(189,189,189);
    cursor: default;
}

@media (max-width: 499px) {
    .upload-container{
        height: auto;
    }
    .upload-content{
        padding: 0;

    }
    .upload-card{
        padding: 0;
    }

    .upload-card .title{
        display: none;
    }

    .upload{
        flex-direction: column;
    }

    .files{
        margin: 0;
        overflow: hidden;
    }

    .actions{
        margin: 0;
        align-items: center;
    }
}