.App {
    text-align: center;
}

*{
    box-sizing: border-box;
}
html, body {
    background-image: url("./assets/images/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
main{
    margin-top: 70px;
}
ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    color: white;
}

a:hover {
    text-decoration: none;
}

.no-select {
    user-select: none;
}