.page--wrapper {
    margin: 15px;
}

.page__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.page__column {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    height: 100%;
}
