
.recipe--preview__container{
    overflow: hidden;
    position: relative;
    width: 100%;

}
.recipe--preview__body{
    transition: transform 0.5s;
    height: 350px;
    background-color: blue;
}

.recipe--preview__footer{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    background-color: rgba(255,255,255, 0.8);
    color: darkslateblue;
    z-index: 2;
}

.recipe--preview__footer__recipe--name{
    display: flex;
    justify-content: center;
}

.recipe--preview__footer__recipe--complexity{
    text-transform: uppercase;
}
.recipe--preview__container:hover{
    cursor: pointer;
}

.recipe--preview__container:hover .recipe--preview__body{
    transform: scale(1.2);
}

.recipe--preview__container:hover .recipe--preview__footer{
    transition: all 0.5s;
    background-color: black;
    font-size: larger;
}

.recipe__private{
    color: darkred;
}

.recipe__public{
    color: darkslateblue;
}

.recipe--preview__container:hover .recipe__locked svg{
    transform: scale(1.2);
    fill: red;
}
.recipe--preview__container:hover .recipe__private{
    color: red;
}
.recipe--preview__container:hover .recipe__public{
    color: white;
}

.recipe__locked svg{
    transition: all .5s;
    fill: darkred;

    padding-right: 5px;
}