.category--recipes__container{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.category--recipes__body{
    display: flex;
    flex-wrap: wrap;
}

.category--recipes__item{
    padding: 1rem;
    flex: 0 50%;
}

@media (max-width: 699px) {
    .category--recipes__body{
        flex-direction: column;
    }
    .category--recipes__item{
        flex: 1;
    }
}