.multipage--form__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 120vh;
    margin-bottom: 10rem;

}
.multipage--form__inner--container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: white;
    height: min-content;
    padding-bottom: 2rem;
}

.multipage--form__title{
    padding-left: 1rem;
    text-align: left;
    width: 100%;
}

.multipage--form__actions{
    display: flex;
    justify-content: center;
}