.step--preview__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 90%;
    background-color: white;
    height: 7rem;
    padding: 0 5%;
    position: relative;
    margin-bottom: 1rem;
    border-bottom: 1px solid darkgrey;
}

.step--mandatory {
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: goldenrod;
    height: 50px;
    width: 50px;
    padding: 5px;
}

.step--description {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    flex: 1;
    height: inherit;
    align-items: center;
}

.has--error {
    background-color: rgba(255, 0, 0, 0.5);
}

.step--number {
    flex: 0 5%;
    display: flex;
    justify-content: flex-start;
}

.step--preview__container svg {
    fill: white;
}

.step--preview__container footer {
    padding-left: 1rem;
}

@media (max-width: 699px) {
    .step--preview__container {
        display: flex;
        height: inherit;
        flex-direction: column;
    }

    .step--preview__container footer {
        display: flex;
        flex-direction: row;
        margin: 1rem 0;
    }
}

.duplicate--entry {
    animation: animate-bg 1s ease-in-out;
}

@keyframes animate-bg {
    0% {
        background-color: red;
    }
    100% {
        background-color: white;
    }
}