.pagination-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    user-select: none;
    font-size: 20px;
    color: white;
}

.pagination-container ul{

    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination-container ul li{
    padding: 10px 15px;
    margin: 10px;
    /*border: 1px solid black;*/
}

.pagination-container li:hover{
    cursor: pointer;
    color: blue;
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.75);
}

.pagination-container li:active{
    background-color: rgba(0,0,0,0.5);
}
.pagination-container svg{
    height: auto;
    width: auto;
    fill: cornflowerblue;
}

.pagination-container li:hover svg{
    fill: blue;
}

.disabled-arrow{
    pointer-events: none;
    opacity: 0.5;
}

.active-page{
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.75);
    color: white;
}

@media (max-width: 599px){
    .pagination-container{
        flex-direction: column;
    }
    .pagination-container ul{
        font-size: 1rem;
    }
}