.toggle-button {
    width: 30px;
    height: 24px;
    background: transparent;
    border: none;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button-line {
    width: 30px;
    height: 2px;
    background: white;
}

.width div {
    width: 90%;
    height: 3px;
    background-color: white;
}

@media (min-width: 500px) {
    .toggle-button {
        display: none;
    }
}