
.step--form__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
    height: 30rem;
}

.step--form{
    width: 90%;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.step--form .form--group{
    width: 90%;
}
.step--form .cbx-container{
    padding-top: 1.5rem;
}

.step--form__submit{
    display: flex;
    justify-content: center;
}

@media (max-width: 699px) {
    .step--form__modal{
        height: 300px;
        overflow-y: scroll;
    }
    .step--form{
        height: inherit;
    }
}